<style>
  .container{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  form{
    max-width: 600px;
    width: 100%;
  }

  h1{
    text-align: center;
  }
  
  .form-field, textarea{
    width: 100%;
  }

  .form-field{
    margin-top: 20px;
    padding: 20px;
    border: 1px solid;
    border-radius: 5px;
  }

  .erro-field{
    border-color: red;
  }

  .form-field > label{
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
  }

  .justificativa{
    margin-top: 10px;
    display: block;
  }

  button{
    display: block;
    margin-top: 20px;
  }

</style>

<div class="container">
  <form>
    <h1>Formulário de teste</h1>
    <div *ngFor="let question of questions; let i = index" class="form-field" id="field-{{i}}">
      <label class="pergunta">
        {{ question.question }} *
      </label>
      <div *ngFor="let option of question.options">
        <input type="radio" value="{{ option.value }}" (change)="chooseQuestion($event, i)" name="pergunta-{{i}}" />
        <label>{{ option.label }}</label>
      </div>
      <label *ngIf="question.justifyAble" class="justificativa">
        Justificativa:
        <span *ngIf="question.justifyRequired">*</span>
      </label>
      <textarea *ngIf="question.justifyAble" (ngModel)="questions[i].justify" (change)="chooseJustify($event, i)"></textarea>
    </div>
    <button (click)="submitForm($event)">Enviar</button>
  </form>
</div>